// Global styling for this template

html,
body {
  height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Auth
.errors{
  color:red;
  font-size: 0.7rem;
}
.bg-black{
  background-color: black;
}
.btn-black{
  color:white;
  background-color: black;
}
.btn-black:hover{
  color:white;
  background-color: rgba(0,0,0,0.9);
}
.black{
  color:black;
}
