<sb-layout-dashboard>
    <div class="add-container">
        <button class="btn btn-primary" [routerLink]="['/proyectos/crear-proyecto']" >+ Crear</button>
    </div>

    <sb-dashboard-head title="Proyectos" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <div class="tabla">

        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Palabra a filtrar">
        </mat-form-field>

        <div class="mat-elevation">
            <table mat-table [dataSource]="dataSource" matSort>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="preview">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Preview </th>
                    <td mat-cell *matCellDef="let row"> <img class="preview-image" src="{{row.preview.length > 0 ? row.preview : placeholder}}"> </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre proyecto </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha | date}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="archivos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Archivos </th>
                    <td mat-cell *matCellDef="let row"> <button class="btn btn-warning" (click)="openDetails(row)"><fa-icon [icon]='["fas", "eye"]'></fa-icon></button> </td>
                </ng-container>
                            
                <!-- Progress Column -->
                <ng-container matColumnDef="informe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Informe </th>
                    <td mat-cell *matCellDef="let row"> <button class="btn"><fa-icon [icon]='["fas", "download"]'></fa-icon></button> </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="clienteNombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                    <td mat-cell *matCellDef="let row"> {{row.clienteNombre}} </td>
                </ng-container>


                <!-- Color Column -->
                <ng-container matColumnDef="artwork">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Artwork </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> <a href="#">view</a> </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="contacto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacto </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.contacto}} </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color">
                        <span class="{{fases[row.estado].style}}"> {{fases[row.estado].text}} </span>
                    </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> 
                        <div class="actions-container">
                            <button class="btn btn-warning" (click)="edit(row._id)"><fa-icon [icon]='["fas", "pencil-alt"]'></fa-icon></button>
                            <button class="btn btn-danger" (click)="delete(row._id)"><fa-icon [icon]='["fas", "trash-alt"]'></fa-icon></button> 
                        </div>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
          
    </div>
</sb-layout-dashboard>
