@import 'styles/variables.scss';

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
td, th {
    width: 15%;
    padding-right:30px!important;
}
.add-container{
    position: absolute;
    right: 25px;
}
.preview-image{
    max-width:60px;
}

.fase-s{
    text-transform: uppercase;
    font-weight: bold;
}
.comp-s{
    color: green;
}
.cierr-s{
    color: red;
} 
.dispo-s{
    color: peru;
} 
.info-s{
    color: #0097ff;
}