@import 'styles/variables.scss';


.input-file-container{
    background:rgba(0,0,0,0.1);
    padding:10px;
    border-radius:5px;
}
.send{
    margin-top:20px;
    min-width:200px;
}
.card{
    margin-bottom:25px;
}